body{
    margin: 0px;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(16, 16, 24);
}

@media (min-width: 600px) {
    .cards-base{
        width: min(1300px, 95vw);
        display: grid;
        gap: 20px;
        color: white;
    }
}

.cards-base h1{
    font-size: xx-large;
}

.profolio-card{
    width: 300px;
    height: 100%;
    display: grid;
    border-radius: 10px;
    grid-template-rows: 400px auto;
}

.profolio-card-above{
    padding: 30px 15px;
    display: grid;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.582);
    grid-template-rows: 48px auto;
}

.profolio-card-option{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.time-option{
    color: lightgray;
}

.time-option:hover{
    color: white;
}

.cards-column{
    display: grid;
    width: 300px;
    grid-template-rows: 300px 300px;
    gap: 20px;
}

.data-card{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 32px auto;
}

.data-card-display{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 30px auto;
}

.data-card-display h1{
    font-size: xx-large;
}

.data-card-display p{
    font-size: small;
    color: lightgray;
}

.data-card-display-lable{
    display: flex;
    flex-direction: row;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }